nav {
    background: rgba(0,0,0,0.9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;
}
.logo {
    font-weight: 600;
    font-size: 25px;
    color:tomato;
}
.logo font {
    color: white;
}
.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
}
.menu-list li:last-child a {
    font-weight: 300;
    padding: 5px 10px;
    background-color: deepskyblue;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 2px;
}
.menu-list li a:hover {
    background-color: white;
    border-radius: 2px;
    color: black;
    transition: all 0.5s ease-in-out;
}